.DS_Store
training/data/*
training/NE1_50M_SR_W/*
*/__pycache__/
*/*/__pycache__/
*/.ipynb_checkpoints/*
*/*/.ipynb_checkpoints/*
data/*
processed-data/IDEALIZED/*.nc
processed-data/REALISTIC/*.nc
*/LPJ_GUESS/
notebooks/LPJ-GUESS-data.ipynb
.ipynb_checkpoints/
to_do.md
